services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: baseline-dynamodb-local
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data"
    volumes:
      - dynamodb-data:/home/dynamodblocal/data
    working_dir: /home/dynamodblocal
    restart: unless-stopped

volumes:
  dynamodb-data:
    driver: local
